<h1><%= @user.username %>'s Profile</h1>

<h2>Created Events</h2>
<ul class="events">
  <% @events.each do |event| %>
    <li class="event">
      <h4 class="title"><%= event.name %></h4>
    </li>
  <% end %>
</ul>