<header>
  <div class="left">
    <%= link_to 'Home Page', root_path %>
  </div>
  <div class="right">
    <%= link_to 'New Event', new_event_path %>
    <%= link_to 'Your Profile', current_user %>
  </div>
</header>